*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    letter-spacing: -.08em;
    color: rgb(90, 90, 90);
}

section{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    height: 100vh;
    width: 95%;   
}

h1{
    position: absolute;
    bottom: 1rem;
    font-size: clamp(1px, 13vw, 100px);
    opacity: 0;
}

span{
    display: inline-block;
    transform: translateX(-10px);
    opacity: 0;
    transition: opacity .3s ease-in-out, transform .3s ease-in-out;
}